ipdb
numpy
scipy
tqdm
pathlib
pandas
matplotlib
colorama
scikit-learn
xgboost
plotly
tornado
kiwisolver==1.4.4
macest==1.0.0
nmslib==2.0.6
psutil==5.9.4
pybind11==2.10.2
seaborn==0.11.0
typing-extensions==3.7.4.3
